{% extends 'base.html' %}
{% block title %}
    Login Form
{% endblock title %}
{% load static %}

{% block body %}
<div class="container">
    {% include 'messages.html' %}
    <div class="row">
            <h1 class="text-info ms-5 my-5">Login here</h1>
   <form action="" method="post" novalidate >
       {% csrf_token %}
       <table class="table border-white">
            {{form.as_table}}
            <tr>
                <td colspan="2">
                    <input class="btn btn-success" type="submit" value="Login">
                    <input class="btn btn-danger"type="reset" value="Cancel">
                </td>
            </tr>
       </table>
   </form>
   </div>
</div>
{% endblock body %}
    
    